.button {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0.8rem;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
	transition: all 0.1 ease-in-out;
}

.button:hover {
	filter: brightness(80%);
}

.success {
	background: var(--primary);
	color: var(--text-over-primary);
}

.danger {
	background: var(--error);
	color: var(--text-over-error);
}

.small {
	height: 4rem;
	width: 4rem;
}

.medium {
	min-width: 24rem;
}
