.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.4rem;
	margin-top: 3.6rem;
}

.logoLink {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	gap: 0.4rem;
	font-size: 4.2rem;
	text-decoration: none;
	color: var(--primary);
	transition: all 0.1 ease-in-out;
}

.logoLink:hover {
	filter: brightness(80%);
}

.logoLink svg {
	height: 6.4rem;
	width: 6.4rem;
}
