.heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.headingActions {
	display: flex;
	align-items: center;
	gap: 1rem;

	margin-top: 1.8rem;
	margin-bottom: 2.4rem;
}
