.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.6rem;
	font-size: 1.2rem;
	margin-top: 2.4rem;
	margin-bottom: 2.4rem;
}

.footer a {
	color: var(--text-muted);
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}
